<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Makwana</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/product-page">Product-Page</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/place-order"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login"></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="/address"></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="/order-success"></a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="/payment"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/summary"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/add-address"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />
