<div class="container my-5">

  <h2 class="fw-bold mb-4">🧾 Place Order</h2>

  <!-- DELIVERY DETAILS -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Delivery Details</h5>

     <input class="form-control mb-2"
       placeholder="Full Name"
       [(ngModel)]="name">

<input class="form-control mb-2"
       placeholder="Mobile Number"
       [(ngModel)]="mobile">

<textarea class="form-control mb-2"
          placeholder="Delivery Address"
          [(ngModel)]="address"></textarea>

  </div>

  <!-- ORDER SUMMARY -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Order Summary</h5>

      <div *ngFor="let item of cartItems" class="d-flex justify-content-between">
        <span>{{ item.title }} (x{{ item.qty }})</span>
        <span>₹ {{ item.price * item.qty }}</span>
      </div>

      <hr>
      <h6 class="text-end">Total: ₹ {{ total }}</h6>
    </div>
  </div>

  <!-- CONFIRM -->
  <div class="text-end">
    <button class="btn btn-success" (click)="confirmOrder()">
      Confirm Order
    </button>
  </div>

</div>
