<div class="container mt-5">

    <h3>Payment Options</h3>

    <div class="card mt-3 p-3">
        <label>
            <input type="radio" name="pay" value="cod" [(ngModel)]="payment"> Cash on Delivery
        </label>
    </div>

    <div class="card mt-3 p-3">
        <label>
            <input type="radio" name="pay" value="online" [(ngModel)]="payment"> Online Payment (UPI/Wallet)
        </label>
    </div>

    <div class="card mt-3 p-3">
        <label>
            <input type="radio" name="pay" value="card" [(ngModel)]="payment"> Credit / Debit Card
        </label>
    </div>

    <button class="btn btn-primary mt-4" (click)="continue()">Continue</button>
</div>
