

<nav class="nav-bar">
  <a routerLink="">Home</a>
  <a routerLink="products">Products</a>
  <a routerLink="/busy-mobile">Busy On Mobile App</a>
  <a routerLink="">Download</a>
  <a routerLink="">Utility</a>
  <a routerLink="">Support</a>
  <a routerLink="">About Us</a>
</nav>


<div class="comparison-container">
  <h2 class="title">Busy Comparison Chart</h2>

  <div class="card-wrapper">

    <!-- BASIC EDITION -->
    <div class="edition-card">
      <h3 class="edition-title">BASIC EDITION</h3>

      <img src="assets/BusyBox (1).svg" alt="Busy Basic Edition" class="edition-img" />

      <div class="price-box">
        <div class="row">
          <span>Select Model</span>
          <span class="highlight">Single User</span>
        </div>
        <div class="row">
          <span>18% GST Applicable</span>
          <span>INR 9000</span>
        </div>
      </div>

      <button class="buy-btn">Buy Now</button>
    </div>

    <!-- STANDARD EDITION -->
    <div class="edition-card">
      <h3 class="edition-title">STANDARD EDITION</h3>

      <img src="assets/BusyBox (1).svg" alt="Busy Standard Edition" class="edition-img" />

      <div class="price-box">
        <div class="row">
          <span>Select Model</span>
          <span class="highlight">Single User</span>
        </div>
        <div class="row">
          <span>18% GST Applicable</span>
          <span>INR 13500</span>
        </div>
      </div>

      <button class="buy-btn">Buy Now</button>
    </div>

    <!-- ENTERPRISE EDITION -->
    <div class="edition-card">
      <h3 class="edition-title">ENTERPRISE EDITION</h3>

      <img src="assets/BusyBox (1).svg" alt="Busy Enterprise Edition" class="edition-img" />

      <div class="price-box">
        <div class="row">
          <span>Select Model</span>
          <span class="highlight">Single User</span>
        </div>
        <div class="row">
          <span>18% GST Applicable</span>
          <span>INR 18000</span>
        </div>
      </div>

      <button class="buy-btn">Buy Now</button>
    </div>

  </div>
</div>



























































