<!-- <p>company works!</p> -->
    <div class="container">
    <h2>Search Company</h2>
    <input type="text" id="searchInput" placeholder="Search Company Name...">

    <table id="companyTable">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Code</th>
                <th>Fin. Year(S)</th>
                <th>Size (MB)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MAKWANA INFOTECH</td>
                <td>Comp0001</td>
                <td>2021-2022 (1 Year)</td>
                <td>13</td>
            </tr>
            <tr>
                <td>TEST COMPANY</td>
                <td>Comp0002</td>
                <td>2021-2022 (1 Year)</td>
                <td>80</td>
            </tr>
            <tr>
                <td>COMAPANY 2021</td>
                <td>Comp0003</td>
                <td>2021-2022 (2 Year)</td>
                <td>43</td>
            </tr>
        </tbody>
    </table>
</div>