<div class="container mt-5">

    <h3>Order Summary</h3>

    <div class="card p-3 mt-3">
        <h4>Product Details</h4>
        <p>Busy Standard Edition</p>
        <p>Qty: {{ qty }}</p>
        <p>Price: INR 5400</p>
    </div>

    <div class="card p-3 mt-3">
        <h4>Delivery Address</h4>
        <p>{{ userAddress.name }}</p>
        <p>{{ userAddress.mobile }}</p>
        <p>{{ userAddress.address }}</p>
    </div>

    <div class="card p-3 mt-3">
        <h4>Payment Method</h4>
        <p>{{ paymentMethod | uppercase }}</p>
    </div>

    <button class="btn btn-success mt-4 w-100">Confirm Order</button>
</div>
